*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
body {
    background-color: papayawhip;
}   
ul {
    display : flex ; 
    gap : 50px ; 
    list-style-type: NONE;
    justify-content : center ; 
    margin-top : 100px ; 
    flex-wrap : wrap ; 
}